.title{
	font-family: Calibri;
	font-size: 45px;
	text-align: left;
	font-weight: bold;
}

.logo1{
	vertical-align: middle;
}

.welcome{
	font-family: Calibri;
	font-size: 25px;
	text-align: center;
	font-weight: bold;
}
.welcome2{
	font-family: Calibri;
	font-size: 20px;

}
.ldl{
	font-family: Calibri;
	font-size: 20px;
}